# Database
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Next.js
NEXT_PUBLIC_BASE_URL="https://malakinfo.com"
NEXT_PUBLIC_API_URL="https://malakinfo.com/api"

# Translation
USE_MOCK_TRANSLATOR="true"
TRANSLATION_API_URL="https://libretranslate.com/translate"
TRANSLATION_API_KEY=""

# Authentication
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="https://malakinfo.com"

# AdSense
NEXT_PUBLIC_ADSENSE_ID="ca-pub-XXXXXXXXXXXXXXXX"
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""

# Admin Panel
NEXT_PUBLIC_MAIN_SITE_URL="https://malakinfo.com"

# Telegram notifications
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_CHAT_ID="your-telegram-chat-id"

# Stripe Payment
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51TFGU3HLF0qHsF9Na7Fd64AsojxLI5Fqs6t7tCJvqMIHIrIfDOeUNGNvQKtilVwAYDjSZHA8JIuVqj8fbcwMcrrx00mXq809BG"
STRIPE_SECRET_KEY="sk_test_51TFGU3HLF0qHsF9NdzNBRmItDMZ7Aq5mKDvflH1XuOs9VFU05uAa8qYbavCN4Uqc6mTUawv1WYfTpfPPrbBWCYgN005gmSdGFA"
STRIPE_WEBHOOK_SECRET="whsec_..."